<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright  ©2016 Rails105
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rais-105" target=new>xdite</a>
  </p>
</footer>
